::-webkit-scrollbar {

  display: none;

}

.selector-for-some-widget {

  box-sizing: content-box;

}

body {

  background-color: whitesmoke;

  padding: 0px;

  margin: 0px;

  width: 100%;

  height: 100%;

}

.jumbotron {

  padding-top: 6rem;

}

#about {

  background-color: #baffc0;

}

#design {

  background-color: #7cec87;

}

.card {

  position: relative;

  overflow: hidden;

}

.img-title {

  position: absolute;

  width: 100%;

  height: 100%;

  background-color: rgba(5, 5, 5, 0.7);

  top: 300px;

  transition: all 0.5s ease-in;

}

.img-title p,

h3 {

  line-height: 20px;

  position: relative;

  top: 130px;

  text-shadow: rgba(5, 5, 5, 0.5);

}

.card:hover .img-title {

  top: 0;

  transition: all 0.5s ease-out;

}

.card img {

  transform: scale(1);

  transition: all 0.3s ease-out;

}

.card:hover img {

  transform: scale(1.1);

  transition: all 0.3s ease-in;

}

#testimoni {

  background-color: #baffc0;

}

#contact {

  background-color: whitesmoke;

}

section {

  padding-top: 5rem;

}
